{% extends 'base.html.twig' %}

{% block title %}Gaming Time{% endblock %}

{% block body %}
<div>
    {% for question in question %}
        {{ question.entitled }}
    {% endfor %}
</div>
{{ form.form }}
{% endblock %}
