{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle question{% endblock %}

{% block body %}
    <h1>Créer une nouvelle question</h1>

    {{ include('questions/_form.html.twig') }}

    <a href="{{ path('app_questions_index') }}">Retour à la liste des questions</a>
{% endblock %}
