{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/IIA/2eme année/Cours/NoSQL/Sider/sider/src/Controller/DashboardController.php</code></li>
        <li>Your template at <code>C:/IIA/2eme année/Cours/NoSQL/Sider/sider/templates/dashboard/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
