{% extends 'base.html.twig' %}

{% block title %}SIDER{% endblock %}

{% block body %}
<div>
    <button class="btn btn-primary">
        <a href="" class="text-white">Jouer</a>
    </button>

    <button class="btn btn-primary">
        <a href="" class="text-white">S'inscrire</a>
    </button>

    <button class="btn btn-primary">
        <a href="" class="text-white">Se connecter</a>
    </button>

    <h3>Règles du jeu :</h3>
    <p>
        Voici un petit texte qui sera à compléter afin que les débiles puissent eux aussi jouer à ce superbe jeu qu'est SIDER !
    </p>
    <div class="container mt-5">
        <table class="table table-bordered border-dark text-center align-middle">
            <thead class="table-light">
            <tr>
                <th class="fw-bold">Player</th>
                <th class="fw-bold">Score</th>
            </tr>
            </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <th scope="row">{{ player.name }}</th>
                <td>{{ player.score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
